em
{
    font-weight: 600;
}

*{
    font-family: 'Roboto';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F3F3F3;
}

.login-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.login-screen p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.login-logo{
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.login-username{

    width: 261px;
    height: 54px;
    margin-top: 94px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;

    background: #FFFFFF;
    color: #AEAEAE;
    
}

.login-btn{

    width: 109px;
    height: 45px;
    margin-top: 15px;
    border-radius: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #696969;
    background: #E7E7E7;

    cursor: pointer;
}

.loading-gif{
    width: 40%;
    max-width: 150px;
    max-height: 150px;
    
}

header
{
    width: 100%;
    z-index: 100;
}

.header-container{
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;

    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.header-logo{
    padding-left: 22px;
    width: 75px;
    height: 53px;
}

.show-active-users-btn{
    padding-right: 22px;
    color: black;
    font-size: 31px;
}

main{
    width: 100%;
}

.messages-container{
    margin-top: 85px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
}

.msg-box{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    background-color:white;
    margin-top: 4px;
}

.status-msg{
    background-color:rgb(221, 221, 221);
}

.private-msg{
    background-color:#FFDEDE;
}

.msg-time,.msg-username,.msg-content{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.msg-time{
    color: rgba(170, 170, 170, 1);
    padding-left: 8px;
}

.msg-username{
    font-style: bold;
    font-weight: 600;
}

.msg-content{
    font-style: normal;
    font-weight: 400;
}

footer
{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.send-msg-container{
    width: 100%;
    min-height: 80px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.input-msg-container{
    width: 100%;
    height: auto;
    position: relative;
}

.input-msg-text{
    width: 100%;
    height: auto;
    min-height: 80px;
    
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

#input-text {
    border: none;
    width: 99%;
    outline: none;
    padding-left: 17px;
  }
  
#input-text:active {
    border: none;
}

.input-msg-text::placeholder{
    color: black;
}

.send-msg-btn{
    position: absolute;
    z-index: 10;
    font-size: 26px;
    right: 20px;
    bottom: 30px;
    z-index: 3;
}

.visibility-settings-window{
    width: 259px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 103;
}

.visibility-window-content{
    width: 259px;
    height: 100%;
    position: relative;
    z-index: 103;
}

.visibility-options-box{
    width: 259px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
    z-index: 103;
    overflow-y: scroll;
}

.modal-background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 102;
    position: fixed;
    left: 0;
    top: 0;
}

#sidebar{
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.5s ease-in-out;
}

#sidebar.open {
    right: 0;
}

.visibility-options-box h1,.visibility-options-box h2{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.choose-visibility-container,.remittees-container,.vbtn{
    width: 100%;
}

.remittees-container{
    margin-top: 20px;
}

.choose-visibility-container{
    margin-top: 10px;
}

.vbtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    height: 36px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    width: 220px;
    margin-right: 20px;
    border-radius: 5px;
}

.vbtn:hover
{
    background-color: lightgray;
}

.vbtn ion-icon{
    font-size: 21px;
    padding-left: 10px;
}

.vbtn p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.checkmark{
    position: absolute;
    right: 10px;
    color:rgba(40, 187, 37, 1);
}

.hidden{
    display: none;
}